html,
body {
  background-color: black;
  color: white;
  font-family: sans-serif;
  overflow-x: hidden;
}
html {
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
}
body {
  padding: 0.2rem;
}
* {
  margin: 0;
  padding: 0;
}
span {
  text-align: left;
  padding: 6px;
  border-radius: 1rem;
  background-color: rgba(125, 125, 125, 0.2);
  margin-top: 1rem;
  display: block;
}
summary {
  background-color: rgba(255, 255, 255, 0.1);
  padding: 4px;
  border-radius: 0.6rem;
  cursor: pointer;
  padding-left: 8px;
}
span summary span {
  width: 13.5px;
  height: 13.5px;
  display: inline-block;
  float: right;
  position: relative;
  top: -19.5px;
  right: -4px;
  background-color: red;
  border-radius: 9px;
  opacity: 0.6;
  transition: opacity 0.2s;
}
span summary span:hover {
  opacity: 1;
}
span.working summary span {
  background-color: rgb(255, 102, 0);
}
span.done summary span {
  background-color: lime;
}
#todolist {
  width: calc(50vw - 0.6rem);
  margin-right: 0.2rem;
}
@media only screen and (max-width: 600px) {
  #todolist {
    width: calc(100vw - 0.6rem);
  }
}
